{% extends 'flatpages/default.html' %}

{% load custom_filters %}


{% block title %}
{{ article.title|censor }}
{% endblock title %}


{% block content %}
    <h1>{{ article.title|censor }}</h1>
    <p>{{ article.date|date:"d.m.Y" }}</p>
    <hr>
    <p>{{ article.text|censor }}</p>
    {% if perms.news.create_post %}
        <a href="{% url 'article_edit' article.id %}">Изменить</a>
    {% endif %}
    {% if perms.news.delete_post %}
        <a href="{% url 'article_delete' article.id %}">Удалить</a>
    {% endif %}
{% endblock content %}
