{% extends 'flatpages/default.html' %}

{% load custom_filters %}


{% block title %}
{{ news.title|censor }}
{% endblock title %}


{% block content %}
    <h1>{{ news.title|censor }}</h1>
    <p>{{ news.date|date:"d.m.Y" }}</p>
    <hr>
    <p>{{ news.text|censor }}</p>
    {% if perms.news.create_post %}
        <a href="{% url 'news_edit' news.id %}">Изменить</a>
    {% endif %}
    {% if perms.news.delete_post %}
        <a href="{% url 'news_delete' news.id %}">Удалить</a>
    {% endif %}
{% endblock content %}
